body{
    margin: 0;
}
.SidePane{
    width: 30vw;
    height: 90vh;
    background-color: #012332 ;
    left:0
}
.mainpart{
  text-align: left;
    display: flex;
    flex-direction: row;
    height: 92vh;
    width: 100vw;
    overflow: hidden;
}
.activities-container {
    width: 100vw;
    height: 100%;
    background-color: #fff;
    padding: 20px;
  }
  
  .activity-header {
    display: flex;
    width: 75vw;
    margin: 20px;
    height: 135px;
    border-radius: 15px;
    box-shadow:1px 1px 1px 1px rgba(0, 0, 0, 0.4);
  }
  
  .activity-header .date {
    font-size: 40px;
    font-weight: 400;
    color: #fff;
    border-radius: 15px;
    padding: 20px;
    background-color:  #012332;
  }
  .activity-header .Activity{
    font-size: 40px;
    font-weight: 400;
    background-color: #ffffff;
    color: #012332;
    margin-left: 20px;

  }
  
  .activity-list {
    margin-left: 20px;
    display: flex;
    flex-direction: row;
    gap: 20px;
    scroll-snap-type:x mandatory;
    width: 100vw;
     overflow-x: scroll;
     white-space: nowrap;
  }

.activity-item {
    display: flex;
    flex-direction: row;
    width: 330px;
    min-height: 165px;
    margin-top: 35px;
    border-radius: 15px;
    background-color: rgba(217, 217, 217, 1);
    position: relative;
    height: 160px;

}

.activity-item img {
    width: 120px;
    height: 120px;
    border-radius: 15px;
    background-color: #012332;
    position: absolute; /* Use absolute positioning */
    top: 20px;
    left: 20px;
}

.title-description-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin-left: 160px;
  margin-top: 25px;
  text-align: left;
  

}

.title-description-container h2 {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 5px;
    color: black;
    line-height: 24px;
}

.title-description-container p {
  width: 160px;
  display: inline-block;
 white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: left;
  text-wrap: wrap;
  height: 50%;
}
.suggested-activity-list {
  flex-direction: row;
  margin-left: 20px;
  gap: 20px;
  width: auto;
  overflow-x: scroll;
  overflow-y: hidden;
  display: flex;
  white-space: nowrap;
}

.suggested-activity-item {
  display: flex;
  flex-direction: row;
  width: 330px;
  min-height: 165px;
  margin-top: 35px;
  border-radius: 15px;
  background-color: rgba(217, 217, 217, 1);
  position: relative;
  height: 160px;
}

.suggested-activity-item img {
  width: 120px;
  height: 120px;
  border-radius: 15px;
  background-color: #012332;
  position: absolute;
  top: 20px;
  left: 20px;
}

.suggested-title-description-container {
  text-wrap:wrap;
  flex: 1;
  margin-left: 100px;
  margin-top: 25px;
  text-align: left;
  width: calc(100% - 160px);
}

.suggested-title-description-container h2 {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 5px;
  color: black;
  line-height: 24px;
}

.suggested-title-description-container p {
  overflow-wrap: break-word;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.41);
  line-height: 18px;
  text-align: left;
  text-overflow: ellipsis;
}